/* === FLASH MESSAGES === */
div#flash-notice {
	border-top:2px solid #14401A;
	border-bottom:2px solid #14401A;
	color:#14401A;
	background-color:#85FF97;
	padding-top:5px;
	padding-bottom:5px;
	text-align:center;
}

div#flash-warning {
	border-top:2px solid #7E8700;
	border-bottom:2px solid #7E8700;
	background-color:#FFFC57;
	color:#7E8700;
	padding-top:5px;
	padding-bottom:5px;
	text-align:center;
}

div#flash-error {
	border-top:2px solid #B20C00;
	border-bottom:2px solid #B20C00;
	background-color:#FF7A70;
	color:#B20C00;
	padding-top:5px;
	padding-bottom:5px;
	text-align:center;
}

/* === HEADER STYLES === */
#header h1{
	margin:20px;
	font-size:3em;
}

#header h3{
	margin:20px;
}

/* === INDEX === */
#new_link{
	float:right;
	font-size:1.4em;
	margin-top:3px	;
}

ul.contacts{
	list-style:none;
	padding:0px;
	margin-bottom:40px;
	margin-top:40px;
}

ul.contacts li{
	border-bottom:1px #909090 solid;
}

ul.contacts h2{
	font-size:2.2em;
}

ul.contacts h2 a{
	text-decoration:none;
}

ul.contacts h2 a:hover{
	text-decoration:underline;
}

ul.contacts div{
	float:left;
	margin-right:20px;
}

#search_form{
	margin-top:20px;
}

#search_form input{
	margin:0px;
	margin-right:15px;
	color:#909090;
}

#search_form input.focused{
	color:#303030;
}

table.contact_details th{
	text-align:right;
	color:#909090;
}

table.contact_details td{
	padding-left:18px;
}

table.contact_details{
	margin-bottom:20px;
	margin-left:-4px;
}

/* === SHOW === */
#picture_holder{
	float:left;
	margin-right:20px;
	height:400px;
}

h2.name{
	font-size:2em;
	color:#2CB282;
}

ul.tweets{
	margin:0px;
	list-style:none;
}

ul.tweets li p{
	margin-bottom:2px;
}

ul.tweets li .tweeted_at{
	font-size:0.8em;
	margin-top:0px;
	color:#909090;
}

/* === FORMS === */
fieldset label, fieldset input{
	display:inline;
	float:none;
	width:928px;
	margin-left:20px;
	margin-right:20px;
	font-size:1.2em;
}

fieldset label{
	font-size:0.8em;
}

input.medium{
	width:200px;
}

fieldset fieldset p{
	font-size:0.8em;
}

fieldset input{
	margin-bottom:20px;
}

fieldset input[type=radio]{
	margin-top:10px;
	width:15px;
}

/* === ERROR MESSAGES === */
div#errorExplanation {
	border:1px solid red;
	padding:10px;
	margin-bottom:10px;
}

div#errorExplanation h2 {
	color:red;
}

div#errorExplanation p {
	color:red;
}