body{
	margin: 0;
	padding: 0;
	border: 0;
	height: 100%; 
	max-height: 100%;
	font-family:helvetica;
	color:#303030;
}

input{
	font-size:1.2em;
}

#header{
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 130px; 
	overflow: hidden;
	background-color:#2CB280;
	color:#FFFFFF;
}

#main{
	border-top:5px #58FEC1 solid;
	background: #fff;
}

#container{
	margin:20px;
}

a{
	color:#2CB282;
}